@using Microsoft.AspNetCore.Identity

@inject UserManager<ApplicationUser> userManager
@inject RoleManager<IdentityRole> roleManager

@{
    var roleName = "";
    var user = await userManager.GetUserAsync(User);
    var roles = await userManager.GetRolesAsync(user);

}
<header class="main-header">

    <!-- Logo -->
    <a asp-area="Admin" asp-controller="Administration" asp-action="Index" class="logo">
        <img src="~/Images/images.png" class="user-image" alt="User Image" style="height:50px; width:50px;">&nbsp;&nbsp;<b>File Record</b>
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>A</b>LT</span>
        <!-- logo for regular state and mobile devices -->

    </a>

    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- Messages: style can be found in dropdown.less-->
                <!-- Notifications: style can be found in dropdown.less -->
                <!-- Tasks: style can be found in dropdown.less -->
                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        @if (user.Picture != null)
                        {
                            var base64 = Convert.ToBase64String(user.Picture);
                            var imgsrc = string.Format("data:image/jpg;base64,{0}", base64);

                            <img src="@imgsrc" class="user-image" alt="User Image">
                        }
                        else
                        {
                            <img src="~/dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
                        }
                        <span class="hidden-xs">@user.FirstName @user.LastName</span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header">
                            @if (user.Picture != null)
                            {
                                var base64 = Convert.ToBase64String(user.Picture);
                                var imgsrc = string.Format("data:image/jpg;base64,{0}", base64);

                                <img src="@imgsrc" class="img-circle" alt="User Image">
                            }
                            else
                            {
                                <img src="~/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                            }

                        <p>
                            @foreach (var role in roles)
                            {
                                roleName = role.ToString();
                            }
                            @user.FirstName @user.LastName - @roleName

                            <small>Registered since @user.DateCreated.ToString("MMMM dd")</small>
                        </p>
                        </li>
                        <!-- Menu Body -->
                        
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">

                                <a asp-area="Admin" asp-controller="Administration" asp-action="UserProfile" class="btn btn-default btn-flat">Profile</a>
                            </div>
                            <div class="pull-right">
                                <a asp-area="Admin" asp-controller="Account" asp-action="LogOut" class="btn btn-default btn-flat">Sign out</a>
                            </div>
                        </li>
                    </ul>
                </li>
                <!-- Control Sidebar Toggle Button -->

            </ul>
        </div>

    </nav>
</header>
